/* PALETA DE COLORES */
:root {
  --lightGray: rgba(216, 216, 214, 1);
  --beige: rgba(216, 193, 173, 0.3);
  --warmBrown: rgba(114, 76, 63, 1);
  --darkRed: rgba(63, 24, 24, 1);
  --coral: rgba(140, 63, 63, 0.9);
  --transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* ESTILOS GENERALES */
body {
  font-family: 'Rowdies', sans-serif;
}

/* SWEETALERT */
.swal-title-custom {
  color: var(--darkRed);
  font-family: 'Rowdies', sans-serif;
}

.swal-button-custom {
  background-color: var(--darkRed);
  font-family: 'Rowdies', sans-serif;
}

.swal-button-custom:hover {
  background-color: var(--coral) !important;
}


/* ANIMACIONES Y EFECTOS */
.btn-dark {
  background-color: var(--darkRed);
  border-color: var(--darkRed);
}

.btn-dark:hover {
  background-color: var(--coral);
  border-color: var(--coral);
  transform: translateY(-2px);
}

.btn-outline-dark {
  color: var(--darkRed);
  border-color: var(--darkRed);
}

.btn-outline-dark:hover {
  background-color: var(--darkRed);
  color: white;
}

/* TRANSICIÓN PARA BOTONES */
.btn {
  transition: var(--transition);
}

/* CONTADOR */
.detalle-contador button {
  transition: var(--transition);
}

.detalle-contador button:hover {
  transform: scale(1.1);
}